.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

.d_none{
    display: none;
}
/* ` Code
-------------------------------------------------------------*/
.header {
    text-align: center;
}



.logo h4{
    display: none;
}
.blue_banner {
    display: none;
}
.callnow {
    margin-top: 15px;
}
.callnow a {
    display: block;
    margin-bottom: 10px;
}
.callnow h5 {
    font-size: 11px;
    letter-spacing: 1px;
}
.callnow h5 font {
    display: none;
}
.callnow span {
    font-size: 30px;
    letter-spacing: 3px;
}
.post {
border: none;
}
.post img {
    display: none;
}
.h1_p {
padding-left: 0;
}
.threeblock p {
    margin-bottom: 3px;
}
.threeblock span {
    margin-bottom: 25px;
}
.post h4 {
    margin-bottom: 5px;
}
.post .p {
position: static;
}

/* `Menu
----------------------------------------------------------------------------------------------------*/
.top_menu ul li a:active {
    font-family: 'amble_regular';
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.menu ul li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #fff;
}
.menu ul li a {
    font-family: 'amble_regular';
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
}
/* Подменю, скрываемое по умолчанию: */
.top_menu ul {
  position: inherit;
  display:none;
  margin-top: 8px;
  margin-bottom: -8px;
}
.top_menu ul li {
  z-index: 999;
  background-color: #474747;
  display: block;
  width: 100%;
  padding: 9px 0;
}

.mobile_str{
display: block;
}
.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-738{}

}
ul#menu-hip-pain.menu{
    list-style-image: url('img/list_blue.gif');
}
.mobile_str h4{
    color: white;
    
    font: 11px 'amble_regular';
    margin: 20px 0 0 20px;
}
.container_12.margin_top_15.mobile_f{
    display:block;
}
.grid_11.copy.mob_size{
    margin-top:50px;
}
.footer_search form .text-field {

padding: 2px;
height: 16px;
width: 90%;
margin-top: 40px;
}
.footer_contact h3 {
font-family: 'amble_bold';
font-size: 16px;
color: #fff;
margin: 25px 30px -5px 0;
display: block;
}
.menu .grid_12 {
    margin: 0;
}
.blue_banner_m img{
    width:320px;
    height:43px;
    border-bottom: 2px solid white;
    display: block;
    background-position: center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin-left: 0;
}

.grid_6.logo{
    display: none;
}
.blue_banner_m {
    display: block;
}
.blue_banner_m img {
    margin-right: 0;
}
.container_12.margin_top_15{
    display: block;

}
.grid_11.align_left.icon{
    display: none;
}
.grid_11.align_left.icon.mob{
    display: block;
    margin-top: 15px;
}
.soc_seti{
    display: block;
}
 
.container_12.margin_top_15.mobile{
    display: block;
}
.grid_6.logo.mob{
    display: block;
}

.working_hours ul li.two{
    margin: 0 30px 10px 0;
    padding: 0;
    font-family: 'amble_regular';
    font-size: 11px;
    color: #fff;
    float:left;
}
.margin_right_30{
    margin-right: 30px;
}
.grid_5{
    margin-left: 0;
}

.top_menu ul li:active {
z-index: 999;
background-color: #fff;
display: block;
width: 100%;
padding: 9px 0;

}
.widget ul li a {
font-family: 'amble_bold';
font-size: 16px;
color: #000;
text-decoration: none;

}
.widget li a{
    list-style: url('img/list_blue.gif') no-repeat 0 0;
}

.contacts{
    width: 100%;
}
.box-shadow-preview{ 
    height: 11px; 
    width: 100%; 
    position: relative; 
    background: #9B9B9B; 
    background: -moz-linear-gradient(top, #9B9B9B 0%, #fbfbfb 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9B9B9B), color-stop(100%,#fbfbfb)); 
    background: -webkit-linear-gradient(top, #9B9B9B 0%,#fbfbfb 100%); 
    background: -o-linear-gradient(top, #9B9B9B 0%,#fbfbfb 100%); 
    background: -ms-linear-gradient(top, #9B9B9B 0%,#fbfbfb 100%); 
    background: linear-gradient(to bottom, #9B9B9B 0%,#fbfbfb 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9B9B9B',  endColorstr='#fbfbfb', GradientType=0 ); 
    border-width: 0px; 
    border-style: solid; 
    border-color: #DDDDDD; 
    border-radius: 0px; 
    box-shadow: 0px 10px 6px -6px #777777; 
}

.mobile_hip_menu{
    background: #fff;
    color: #6b6b6b;
    display:block;
    background-position: center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.icon {
margin: 0 0 30px 5px;
}
.box ul {bottom: 15px;}
.box li a {font-size: 10px;}

/*DIASTASYS RECTI STYLES START*/

.diastasis{font-size: 40px;}
.full_rid_line{
    height: 191px;
    background-size: cover;
}
.dias_symptoms {
    text-align: center;
}
.dias_symptoms div:nth-child(2){
    text-align: justify;
    line-height: 1.1;
}
.diagnosis_title > div:nth-child(2){
    font-size: 16px;
    text-align: left;
    font-family: segoe_uibold;
}
.dias_desc{
    font-size: 11px;
}
.dias_normal,.dias_affected{
    height: 153px;
	margin-right:0px;
    width: 137px;
}
.treatment_title{
    font-size: 48px;
    line-height: 1.2;
    margin-top: 42px;
}
.treatment{

   height: 410px;
    background-size: cover;
	padding-bottom: 55px;
}
.treatment_desc{
    margin-top: 22px;
    text-align: left;
    text-indent: 3rem;
}
.advantage{
    margin-top: -45px;
    height: 100%;
	padding-bottom: 33px;
}
.testimonials_green_bg{
font-size: 45px;
}
.section5_2{
    height: 533px;
}

.section5_2 .dr_photo{
    float: none;
    margin: 35px auto;
}
.section5_2 .testimonial-text_2{
    margin: 0;
    font-size: 12px;

}
.section5_2 .double-l{
    margin-left: 54%;

}
.section5_2 .testimonial-text_2 p{
    margin-left: 55%;
    margin-right: 5%;
    padding: 0;
}
.container_video div#youtube-sidebar-widget:last-child{
    display: none !important;
}
.advantage_title{
font-size:46px
}
.map_resize{
    height: 185px;
    width:270px ;
}
.sciatica img{
margin-top: 0px;
height: auto;
}
.sciatica_symp
{top: 224px;
}
.causes{
margin-top: 293px;
}
.sciat_orange_title{
font-size: 26px;
padding-top: 6px;
padding-bottom: 8px;
}
.sciat_orange_desc{
font-size: 15px;
}
.sciat_blue_desc{
padding-bottom: 51px;
}
.house_line img{
display:none;
}

.article {
    display:none;

}
/*DIASTASYS RECTI STYLES END*/

/*
SHOULDER_pain*/
.shoulder_pain{
    background-position-x: -500px;
}
.shoulder_top_title{
    margin-top: 500px;
}
.four_categ_title{
    margin-top: 500px;
}
.four_categ_title ul{
    margin-left: 0px;
}
.shoulder_symptoms_title{
    margin-top: 50px;
    text-align: center;
    padding-top: 25px;

}
.shoulder_symptoms{
    background-position-x: -390px;
}
.mobile_black{
    background-color: black;
    width: inherit;
    margin-top: 500px;
    margin-left: 0px;
    margin-right: 0px;
}
.shoulder_diagn_title{
    margin-top: 500px;
}
.shoulder_symptoms_desc{
    padding-bottom: 75px;
}
.shoulder_diagn_desc{
    padding: 0px;
}
.shoulder_list_text{
   font-size: 18px;
   padding-left: 10px;
}
/*
SHOULDER_pain*/

.causes_desc{
font-size: 6px;
padding: 0 0px;
}
.ellipse_inline{
text-align: center;
font-size: 14px;
font-family: segoe_uiregular;
color: rgb( 255, 255, 255 );
text-transform: uppercase;

height: 85px;
width: 150px;
display: inline-block;
padding-top: 65px;
vertical-align: top;
background-size: 150px 153px;
}
.sciat_orange_desc{
font-size: 13px;
}
.sciat_orange_bg{
margin-top: -64px;
}
.sciat_orange_title{
padding-top: 58px;
}